<!DOCTYPE html>
<html>
<head>
  <title>Xyz</title>
  <%= stylesheet_link_tag    "xyz/application", media: "all" %>
  <%= javascript_include_tag "xyz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
